* {
  margin: 0;
  padding: 0;
}

h1 {
  margin-bottom: 10px;
}

.app {
  background-color: #ff00ff;
  align-items: center;
  justify-content: center;
  width: 1360px;
  height: 800px;
}

.container {
  background-color: #ffff00;
  margin: auto;
  border-radius: 5px;
  padding: 30px;
  width: 1360px;
  height: 800px;
}

.list {
  margin: auto;
  margin-top: 20px;
  float: right;
  background-color: #993300;
  width: 960px;
  height: 750px;
}

.creator {

  background-color: #ccffcc;
  width: 400px;
  height: 190px;
}

.tasktext{
  border-color: #000000;
}

.status {
  float: left;
  background-color: #660066;
  width: 400px;
  height: 560px;
}

.button {
  border: 0;
  border-radius: 5px;
  color: #fff;
  outline: 0;
  margin: 0 5px;
  padding: 5px 10px;
}

.buttonSuccess {
  composes: button;
  background-color: #27ae60;
}

.taskdiv {
  background-color: #ffffff;
  width: 75px;
  height: 50px;
  border-style: solid;
}
